<header>
  <h1>Ty Bland's Tranquil Badger ~ ITIS3135</h1>
  <nav class="primary-nav">
    <a href="/">Home</a>
    <a href="/contract.html">Contract</a>
    <a href="/itis3135/website_evaluations.html">Website Evaluations</a>
    <a href="/itis3135/survey.html">Survey</a>
    <a href="/itis3135/gallery.html">Gallery</a>
    <a href="/itis3135/inventory.html">Inventory</a>
    <a href="/itis3135/instructions.html">Instructions</a>
    <a href="/itis3135/highlight.html">Highlight</a>
  </nav>
  <nav class="secondary-nav">
    <a href="/itis3135/stuff/sKibbIdy%20_%25.htm">CRAPpy Webpage</a>
  </nav>
</header>
